.booking-btn-div{
    
    text-align: center;
    
    
}
.booking-btn{
    background-color: #FEFDCA;
    border-radius: 10px;
    font-weight: 700;
}
.single-service-card{
    border-radius: 10px;
    background-color: #E1F4F3;
    
}

.single-service-card-image-div img{
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

.single-service-card-description{
    text-align: justify;
}
.single-service-card:hover{
    transform: scale(1.07);
    
    transition: transform 4s ease-in-out;
}
.single-service-card-row{
    border-radius: 10px;
    overflow: hidden;
    padding-left: 2px;
}
