

/* new css */
.service-details-container{
    display: grid;
    
}
.service-details-upper-section img{
    height: 90%;
    width: 40%;
    
}
.service-details-lower-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.service-details-section{
    display: grid;
    grid-template-rows: 8% 92%;
}
.order-details-section{
    display: grid;
    grid-template-rows: 8% 92%;
}
.details-field{
    display: grid;
    grid-template-columns: 20% 80%;
    border-top: 2px solid #6699CC;
}
.shipping-form{
    
    display: flex;
    flex-direction: column;
    
}
.shipping-form input, textarea {
    display: block;
    padding: 5px;
    width: 100%;
    border: 2px solid gray;
    border-radius: 3px;
}


@media (max-width:700px) {
    
    .service-details-container{
        
        
        display: grid;
            grid-template-columns: 1fr;
}
.service-details-lower-section{
    
    display: grid;
            grid-template-columns: 1fr;
}

.service-details-section{
    display: grid;
    grid-template-rows: 5%;
}
.order-details-section{
    display: grid;
    grid-template-rows: 10%;
    padding-bottom: 5px;
}

.details-field{
    display: grid;
    grid-template-columns: 30% 70%;
}
.service-details-upper-section img{
    height: 90%;
    width: 100%;
    
}
}

